<h1>Add bookmark:</h1>

<form action="/bookmarks" method="post">
  <input placeholder="Bookmark Title" type="text" name="title" id="title">
  <input placeholder="Bookmark URL" type="text" name="url" id="url"><br><br>
  <input type="submit" value="Submit">
</form>
